@model GymManagerWebApp.ModelViews.CarnetsOfferViewModel;

@{
    ViewData["Title"] = "Kup karnet";
}
<div>
    <div class="text-center">
        <h2>Tutaj możesz kupić karnet:</h2>
    </div>
    <div class="text-left">
        <form asp-controller="Carnet" asp-action="BuyCarnet" method="post">
            @foreach (var carnet in Model.QuantityCarnets)
            {
            <div class="row-flex-space">
                <div>
                    @carnet.CategoryName, @carnet.Price
                </div>
                <button name ="carnetId" type="submit" formmethod="post" value="@carnet.Id" class="btn btn-outline-primary btn-sm">Kup!</button>
            </div>
            }
        </form>

        <form asp-controller="Carnet" asp-action="BuyCarnet" method="post">
            @foreach (var carnet in Model.TimeCarnets)
            {
            <div class="row-flex-space">
                <div>
                    @carnet.CategoryName, @carnet.Price
                </div>
                <button name="carnetId" type="submit" formmethod="post" value="@carnet.Id" class="btn btn-outline-primary btn-sm">Kup!</button>
            </div>
            }
        </form>

    </div>

</div>