@model PurchasedCarnetsViewModel
@inject Microsoft.AspNetCore.Identity.SignInManager<User> signInManager

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Kupione karnety</title>
</head>
<body>
@if (Model.PurchasedCarnets.Count ==0)
{
    <h3>Obecnie nie posiadasz żadnych zakupionych biletów</h3>
    <h3>Jeśli chcesz dokonać zakupu, kliknij w poniższy link</h3>
    @Html.ActionLink("Zakup karnetów", "BuyCarnet") <br /><br />
}
else
{
    <h1>Zakupione karnety:</h1><p></p>
    <form asp-controller="Carnet" asp-action="PurchasedCarnets" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ilość wejsć</th>
                    <th scope="col">Data zakupu</th>
                    <th scope="col">Koszt</th>
                    <th scope="col">Status</th>
                    <th scope="col">Pozostała ilość wejść</th>
                    <th scope="col">Rezerwacje</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var purchase in Model.PurchasedCarnets)
                {
                <tr>
                    <td>@purchase.Carnet.TotalEtrances</td>
                    <td>@purchase.PurchaseDate</td>
                    <td>@purchase.Carnet.Price zł</td>
                    @if (IsAllowedToClick(purchase))
                    {
                        <td>
                            <button name="carnetId" value="@purchase.Id" role="button" aria-disabled="true" class="@SetButtonClass(purchase)">@SetButtonName(purchase)</button>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button name="carnetId" value="@purchase.Id" role="button" aria-disabled="true" class="@SetButtonClass(purchase)" disabled>@SetButtonName(purchase) </button>
                        </td>
                    }
                    <td>@purchase.RemainCarnets</td>
                    <td>Do zaimplementowania</td>
                </tr>
                }
            </tbody>
        </table>
    </form>
}
</body>
</html>


@functions{
    public string SetButtonClass(Purchase carnet)
    {
        if (!carnet.IsActive && !carnet.IsExpired)
        {
            return "btn btn-outline-success btn-sm";
        }
        else if (carnet.IsActive && !carnet.IsExpired)
        {
            return "btn btn-success btn-sm disabled";
        }

        else if (!carnet.IsActive && carnet.IsExpired && DateTime.UtcNow > carnet.ActivationDeadline)
        {
            return "btn btn-secondary btn-sm disabled";
        }
        return "";
    }
    public string SetButtonName(Purchase carnet)
    {

        if (!carnet.IsActive && !carnet.IsExpired)
        {
            return "Aktywuj";
        }
        else if (carnet.IsActive && !carnet.IsExpired)
        {
            return "Aktywny";
        }
        else if (!carnet.IsActive && carnet.IsExpired)
        {
            return "Wykorzystany";
        }
        return "";
    }
    public bool IsAllowedToClick(Purchase carnet)
    {

        if (!carnet.IsActive && !carnet.IsExpired)
        {
            return true;
        }
        else if (carnet.IsActive && !carnet.IsExpired)
        {
            return false;
        }
        else if (!carnet.IsActive && carnet.IsExpired)
        {
            return false;
        }
        return false;
    }
    public string SetDateFormat(DateTime? date)
    {
        if (!date.HasValue)
        {
            return "";
        }
        else return date.Value.ToString("dd.MM.yyyy");
    }
}